@import "~bootstrap";

body {
    background-color: #dddddd;
}

.App {
    background-image: url('images/christmas-4661882_1920.jpg');
    width: 1920px;
    height: 1155px;

    //transform: scale(50%);

    //display: flex;
    //flex-flow: column;
    //flex-direction: column;
    //justify-content: space-between;
    //position: absolute;
    //top: 0;
    //left: 0;
    //right: 0;
    //bottom: 0;
    //
    //> * {
    //    position: relative;
    //
    //    &:nth-child(1) {
    //        //background-color: red;
    //        //height: 100px;
    //        flex-shrink: 0;
    //        color: white;
    //    }
    //
    //    &:nth-child(2) {
    //        //background-color: green;
    //        flex-grow: 1;
    //    }
    //}
}

.calendar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    > * {
        text-align: center;
    }

    outline: solid 1px white;
    display: grid;
    //grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);

    align-content: space-around;
    justify-content: space-between;

    //
    //justify-content: center;
    //align-content: center;
    //
    //gap: 50px;
    //grid-auto-flow: column;

    //justify-content: space-around;

    > div {
        //flex: 1 0 auto;
        //height:auto;

        //width: (100%) / 6;
    }
}


